<head th:fragment="head(additional)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">

    <meta th:name="${T(com.movies.gateway.FrontendProperties).USER_AUTHENTICATED}"
          th:content="${#authorization.expression('isAuthenticated()')}">

    <th:block sec:authorize="isAuthenticated()" th:with="user = ${#authentication.principal.userTo}">
        <meta th:name="${T(com.movies.gateway.FrontendProperties).USER_ID}" th:content="${user.id}">
        <meta th:name="${T(com.movies.gateway.FrontendProperties).USER_NAME}" th:content="${user.name}">
        <meta th:name="${T(com.movies.gateway.FrontendProperties).USER_SURNAME}" th:content="${user.surname}">
        <meta th:name="${T(com.movies.gateway.FrontendProperties).USER_EMAIL}" th:content="${user.email}">
        <meta th:name="${T(com.movies.gateway.FrontendProperties).USER_ROLES}" th:content="${user.roles}">
    </th:block>

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/ReactToastify.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.min.css}">
    <script th:src="@{/static/js/shared.min.js}" defer></script>

    <th:block th:replace="${additional}" />

    <title>Movies List</title>
</head>