<head th:fragment="head(additional)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">

    <meta name="user:authenticated" th:content="${#authorization.expression('isAuthenticated()')}">

    <th:block sec:authorize="isAuthenticated()" th:with="user=${#authentication.principal.userTo}">
        <meta name="user:id" th:content="${user.id}">
        <meta name="user:name" th:content="${user.name}">
        <meta name="user:surname" th:content="${user.surname}">
        <meta name="user:email" th:content="${user.email}">
        <meta name="user:roles" th:content="${user.roles}">
    </th:block>

    <th:block th:replace="${additional}" />

    <title>Movies List</title>
</head>