@import "~bootswatch/dist/superhero/bootstrap.min.css";
@import "~react-toastify/dist/ReactToastify.css";

.spinner-vertical-middle {
  vertical-align: middle;
}

.span-default-color span {
  color: unset!important;
}

.custom-button {
  cursor: pointer;
}