<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies List | Вход</title>

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">

    <meta name="user:authenticated" content="false">
    <meta name="service:gateway:url" th:content="${gatewayService}">
    <meta name="forms:login:action" th:content="@{/login}">

    <link rel="stylesheet" th:href="${gatewayService + '/static/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="${gatewayService + '/static/css/ReactToastify.min.css'}">
    <link rel="stylesheet" th:href="${gatewayService + '/static/css/style.min.css'}">

    <script th:src="${gatewayService + '/static/js/shared.min.js'}" defer></script>
    <script th:src="${gatewayService + '/static/js/login.min.js'}" defer></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>