<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: head(~{::'th:block'})}">
    <th:block>
        <meta name="application:mini" content="false">
        <meta name="service:gateway:url" content="/">
        <meta name="error:message" th:content="${error_message}">
        <meta name="error:status" th:content="${error_status}">
        <script th:src="@{/static/js/error.min.js}" defer></script>
    </th:block>
</head>
<body>
    <div id="root" th:utext="${@reactRenderService.render('error.min.js',
            'application:mini=false', 'service:gateway:url=/',
            'error:message=' + error_message, 'error:status=' + error_status
    )}"></div>
</body>
</html>